* {
    box-sizing: border-box;
    font-family: "Lobster", serif;
    color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bg {
    background-image: url('flowers.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: #ff9800a8;
    position: absolute;
    padding: 8px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
}

.navbar a:hover {
    color: black;
}

.text1 {
    position: absolute;
    color: white;
    bottom: 30%;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    /* background-color: red; */
}

.left {
    font-weight: bolder;
    font-size: 66px;
}

.text1 p {
    display: inline-block;
    font-size: 96px;
    color: #ff9800;
    padding: 5px 20px;
    margin: 20px;
}

.text1 a {
    background-color: #ff9800a8;
    padding: 5px 20px;
    margin: 50px;
    border-radius: 50%;
}