@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    /* --gradient: linear-gradient(45deg, hsl(7, 82%, 63%), purple, #ee6352); */
    --gradient: linear-gradient(45deg, hsl(263, 100%, 50%), hsl(293, 100%, 50%), hsl(331, 100%, 50%), hsl(353, 100%, 50%), hsl(331, 100%, 50%), hsl(293, 100%, 50%), hsl(263, 100%, 50%));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    font-family: 'Josefin Sans', sans-serif;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: repeat(7, minmax(auto, 1fr));

}

.navbar {
    grid-column: 2 / span 6;
}

.navbar a {
    padding: .5rem;
    transition: background-color .7s;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.gradient-bar {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
}

.footer {
    grid-column: 1 / 2;
    grid-row: 4 / 8;
    /* border: 2px solid red; */
}

.square {
    grid-column: span 3;
    grid-row: span 3;
}


.flexbox {
    display: flex;
}

.column {
    flex-direction: column;
}

ul {
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    list-style-type: none;
    gap: 1rem;
}

.footer {
    justify-content: space-evenly;
    /* align-items: stretch; */
}

.footer a {
    font-size: .75rem;
    transform: rotateZ(-90deg);
    padding-left: 2rem;
}

.square {
    padding: 0 2rem;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    min-width: 80px;
    height: 80px;
    border-radius: 5px;
    padding-top: .5rem;
    transition: all .3s;
    /* border: 2px solid red; */
    
}

img:hover {
    transform: scale(1.5);
    border-radius: 15px;

}

.gradient {
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 5s infinite;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: .5rem;
    /* border: 2px solid green; */
    /* padding-top: 1rem; */
}

.img-box div {
    flex-grow: 1;
    width: 30%;
    /* flex: 1; */
}

/* align-self TODO */

.right-down {
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
}

.left-up,
.right-up {
    text-align: justify;
}

.left-up h1,
.left-up p,
.right-up h1,
.right-up p {
    margin: .5rem 2rem;
    /* border: 2px solid red; */
}

p, a {
    font-size: 20px;
}


@keyframes bg-animation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}